<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main>
        <header>
            <nav>
                <div class="title"><i class="material-icons">add_shopping_cart</i> Freet gratis </div>
                <div><span class="title">$1000 em descontos !</span></div>
                <div><button class="item-buy">Entrar</button></div>
            </nav>
        </header>
        <section class="catalog">
            <div class="item">
                <img src="/image/airpods.jpg" alt="Carregando..">
                <div class="item-name">airpods</div>
                <div class="item-cost">$150,99</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/amazon-echo.jpg" alt="Carregando..">
                <div class="item-name">amazon-echo</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/apache-helicopter.jpg" alt="Carregando.." srcset="">
                <div class="item-name">apache-helicopter</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/big-mac.jpg" alt="Carregando.." srcset="">
                <div class="item-name">big-mac</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/coca-cola-pack.jpg" alt="Carregando.." srcset="">
                <div class="item-name">coca-cola-pack</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/cruise-ship.jpg" alt="Carregando.." srcset="">
                <div class="item-name">cruise-ship</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/auto-rickshaw.jpg" alt="Carregando.." srcset="">
                <div class="item-name">auto-rickshaw</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/bike.jpg" alt="Carregando.." srcset="">
                <div class="item-name">bike</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
            <div class="item">
                <img src="/image/designer-handbag.jpg" alt="Carregando.." srcset="">
                <div class="item-name">designer-handbag</div>
                <div class="item-cost">$2</div>
                <div class="item-info">
                    <span>1</span>
                    <span class="item-desc">Unidade</span>
                </div>
                <div class="item-controls">
                    <button class="item-add">-</button>
                    <button class="item-buy">Comprar</button>
                    <button class="item-add">+</button>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Entre em contato</h4>
                        <ul class="list-unstyled">
                            <li>Email: contato@meusite.com</li>
                            <li>Telefone: 555-555-5555</li>
                            <li>Endereço: 123 Rua Principal, Qualquer Cidade Brasil</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Sobre nós</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id bibendum
                            malesuada, augue nisl malesuada augue, non commodo urna </p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>